<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>About</h2>
<h3>At DumatiCS all our work is driven by the four underlying principles - CASE.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
                                    <li>
                        <div class="timeline-image">
                                                        <h4><br>CUSTOMISED</h4>
                                                    </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We are a consultancy company with the belief that one size does not fit all and every solution needs to be based on detailed understanding and needs to be CUSTOMISED to the business requirements. It does not mean we can not reuse lessons learnt but does mean each best practice needs to be tweaked for best results.</p>
                            </div>
                        </div>
                    </li>
                                    <li class="timeline-inverted">
                        <div class="timeline-image">
                                                        <h4><br>AGILE</h4>
                                                    </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A customised solution for change that does not adapt with changing needs of your business is not really a solution. We work hard to ensure an AGILE solution that adapts to the changes in business landscape.This approach of continuous improvement results in greater success as well as helps in identifying quick wins.</p>
                            </div>
                        </div>
                    </li>
                                    <li>
                        <div class="timeline-image">
                                                        <h4><br>SIMPLE</h4>
                                                    </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A customised and agile solution that is complex will take longer to realise benefits and in the current ever changing landscape of competition, in our opinion, time lost is benefit lost; so the third principle behind our every solution, is to keep it SIMPLE. A simple solution will be readily accepted, will have reduced training overheads and will start delivering benefits quicker.</p>
                            </div>
                        </div>
                    </li>
                                    <li class="timeline-inverted">
                        <div class="timeline-image">
                                                        <h4><br>EFFECTIVE</h4>
                                                    </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The core strength of any solution customised or not is that it has to be EFFECTIVE. An effective solution can only be delivered when it is built on the solid foundation of knowing the environment where the solution will be implemented. Having worked with a range of customers, from across the globe, we have the ability to tailor our solutions as per the organisational culture, to ensure it is effective and helps realise the benefits aligned to the original business drivers.</p>
                            </div>
                        </div>
                    </li>
                                    <li class="timeline-inverted">
                        <div class="timeline-image">
                                                        <h4>In short<br> our <br>CASE!</h4>
                                                    </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"></p>
                            </div>
                        </div>
                    </li>
                            </ul>
        </div>   
    </div>
</div>
</section>    
<!--
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">At DumatiCS all our work is driven by the four underlying principles - CASE.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <p class="img-circle img-responsive"><BR/><BR/><BR/>CUSTOMISED</p>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
-->
