<section id="services">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Services</h2>
<h3>We provide a range of services that help our clients optimise operations,align IT costs, improve customer service, reduce risk and deliver organisational change to realise tangible benefits.</h3>
        </div>
    </div>
    <div class="row text-center">
                    <div class="col-md-4">
                                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                                                    <h4 class="service-heading">Management Consulting</h4>
                                                    <p class="text-muted">We will help you right from conceptualisation to delivery for all your Business transformation, organisational change, process re-engineering or Information Technology initiatives.</p>
                            </div>
                    <div class="col-md-4">
                                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                                                    <h4 class="service-heading">Planning</h4>
                                                    <p class="text-muted">With the right blend of proven Management methodologies - PRINCE 2, MSP, PMP and Agile - and relevant industry experince, we will help you deliver and exceed stakeholders' expectations.</p>
                            </div>
                    <div class="col-md-4">
                                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                    </span>
                                                    <h4 class="service-heading">Strategic Advice and Assessments</h4>
                                                    <p class="text-muted">We work from your customer's view point to help you leverage your own organisation and suppliers to trim processes, improve services and maximise benefit with minimal cost towards technology.</p>
                            </div>
                    <div class="col-md-4">
                                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                                                    <h4 class="service-heading">IT Development</h4>
                                                    <p class="text-muted">We work not to sell a product but to get the right solution for you. Our technical solution will be customised to your requirements right from selecting the technology to post-delivery support.</p>
                            </div>
                    <div class="col-md-4">
                                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-exchange fa-stack-1x fa-inverse"></i>
                    </span>
                                                    <h4 class="service-heading">Requirement Engineering</h4>
                                                    <p class="text-muted">Our unique 'CASE' methodology ensures clear line of communication and subsequent stakeholder agreement on the back of scientific analysis to arrive at recommendations specific to your needs.</p>
                            </div>
                    <div class="col-md-4">
                                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                                                    <h4 class="service-heading">E-commerce</h4>
                                                    <p class="text-muted">We offer support right from defining your e-commerce strategy to designing, developing, optimising, managing and supporting your business and brand to implement and run the trading platform as well as grow your online business.</p>
                            </div>
            </div>
</div>
</section>


<!-- Services Section 
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
-->
